.alert {
  padding: 20px;
  background-color: green;
  font-size: 25px;
  color: white;
  margin-left: 200px;
  margin-right: 300px;
  margin-top: 10px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

html {
scroll-behavior: smooth;
}
:root{
scrollbar-color: rgb(210,210,210) rgb(46,54,69) !important;
scrollbar-width: thin !important;
}
::-webkit-scrollbar {
height: 12px;
width: 8px;
background: #000;
}
::-webkit-scrollbar-thumb {
background: gray;
-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}
::-webkit-scrollbar-corner {
background: #000;
}
#logout
{position: relative;
    vertical-align: top;
	top:9px;
}
#footer
{
	position: relative;
    left: -20px;
    vertical-align: top;
}


/*SERVICES*/
#service {
  width: 100%;
  padding: 30px 0;
  background:black;
}
.service-box {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}
.single-service {
  flex-basis: 48%;
  text-align: center;
  border-radius: 7px;
  margin-bottom: 20px;
  color: #fff;
  position: relative;
}
.single-service img {
  width: 100%;
  border-radius: 7px;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 7px;
  cursor: pointer;
  background: linear-gradient(rgba(0, 0, 0, 0.5), #910091);
  opacity: 0;
  transition: 1s;
}
.single-service:hover .overlay {
  opacity: 1;
}
.service-desc {
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
  transition: 1s;
}
hr {
  background: #fff;
  height: 2px;
  border: 0;
  margin: 15px auto;
  width: 60%;
}
.service-desc p {
  font-size: 14px;
}
.single-service:hover .service-desc {
  bottom: 40%;
  opacity: 1;
}
@media screen and (max-width: 770px) {
  .single-service {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  .service-desc p {
    font-size: 12px;
  }
  hr {
    margin: 5px auto;
  }
  .single-service:hover .service-desc {
    bottom: 25% !important;
  }
}

.title-text {
  text-align: center;
  padding-bottom: 20px;
}

.title-text p {
  margin: auto;
  font-size: 20px;
  color: #730073;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
}



.title-text h1 {
  font-size: 50px;
  background-image: url(https://media4.giphy.com/media/l4KigjB9KE6qYHTiw/giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  line-height: 0.75;
  font-size: 50px;
  margin: 10px 0;
}



/*FLIP*/
.flip-card {
background-color: transparent;
}

.flip-card-inner {
position: relative;
width: 200px;
height: 50px;
text-align: center;
transition: transform 0.6s;
transform-style: preserve-3d;
animation: mymove 5s infinite;
}

@keyframes mymove {
0% {transform: rotateY(0deg);}
50% {transform: rotateY(180deg);}
100% {transform: rotateY(360deg);}
}

.flip-card-inner {
transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
position: absolute;
width: 200px;
height:100%;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
font-family: 'Pattaya', sans-serif;
}

.flip-card-front {
color: black;
}

.flip-card-back {
background:#000000;
color: #800080;
font-size:1.5em;
transform: rotateY(180deg);
}

/*DEFAULT*/
body{
overflow-x:hidden;
margin:0;
font-family: 'Exo 2', sans-serif;
}

a,li,input,textarea,select{
text-decoration:none;
outline:none !important;
list-style:none;
transition:0.5s;
}

a,p{
letter-spacing:0.08em;
line-height:1.4em;
}

.title,.sub-title{
font-family: 'Ubuntu', sans-serif;
letter-spacing:0.08em;
}

.title{
font-size:2em;
color:#ffffff;
}



.sub-title{
font-size:1.5em;
color:gray;
}

.title_header{
width:60%;
margin:5vh auto;
text-align:center;
}

em{
font-size:3.5em;
font-family: 'Ubuntu', sans-serif;
font-style:normal;
color:#bb00bb;
}

.dropbtn1 {
  background-color: #bb00bb;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown1 {
  position: relative;
   position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content1 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content1 a:hover {background-color: #ddd;}

.dropdown1:hover .dropdown-content1 {display: block;}

.dropdown1:hover .dropbtn1 {background-color: #730073;}

.btn2{
padding:20px;
text-align:Center;
border-radius:5px;
}


.btn2{
background:#1e1e1e;
}

.btn2:hover{
background:#000;
}

.line{
width:150px;
height:4px;
background:#277b99;
margin:5vh 0;
display:block;
}

table{
width:100%;
border-collapse:collapse;
}

table td{
width:50%;
border-collapse:collapse;
position:relative;
vertical-align:top;
}

/*ANIMATE*/
.animate {
-webkit-animation: animatezoom 0.6s;
animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
from {-webkit-transform: scale(0)}
to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
from {transform: scale(0)}
to {transform: scale(1)}
}
.inline-photo {
opacity: 0;
transform: translateY(4em) rotateZ(-0deg);
transition: transform 4s .25s cubic-bezier(0,1,.3,1),opacity .3s .25s ease-out;
will-change: transform, opacity;
}
.inline-photo.is-visible {
opacity: 1;
transform: rotateZ(-0deg);
}
.inline-photo2 {
opacity: 0;
transform: translateX(-15em) rotateZ(-0deg);
transition: transform 4s .25s cubic-bezier(0,1,.3,1),opacity .3s .25s ease-out;
will-change: transform, opacity;
}
.inline-photo2.is-visible2 {
opacity: 1;
transform: rotateZ(-0deg);
}
.inline-photo3 {
opacity: 0;
transform: translateX(15em) rotateZ(-0deg);
transition: transform 4s .25s cubic-bezier(0,1,.3,1),opacity .3s .25s ease-out;
will-change: transform, opacity;
}
.inline-photo3.is-visible3 {
opacity: 1;
transform: rotateZ(-0deg);
}


/*NAVIGATION*/
.topnav {
width:100%;
overflow: hidden;
background-color: #000000;
padding:10px 0;
}

.topnav a {
float: right;
display: block;
color: #ffffff;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:not(:first-child){
margin:10px 0;
}

.topnav .logo{
float:left;
color:#277b99;
text-shadow:0px 1px rgba(1,1,1,0.5);
}

.topnav .logo:hover{
background:none;
}

.topnav .logo img{
width:50px;
height:50px;
}

.topnav .logo b{
position:relative;
top:15px;
}

.active {
background-color: #04AA6D;
color: white;
}

.topnav .icon {
display: none;
}

.dropdown {
float: right;
overflow: hidden;
margin:10px 0;
}


.dropdown .dropbtn {
font-size: 17px;    
border: none;
outline: none;
color: #ffffff;
padding: 14px 16px;
background-color: inherit;
font-family: inherit;
margin: 0;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
right:0;
}

.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
background-color: #555;
color: white;
}

.dropdown-content a:hover {
background-color: #ddd;
color: black;
}

.dropdown:hover .dropdown-content {
display: block;
}

@media screen and (max-width: 600px) {
.topnav .logo{
float:left;
width:80%;
}
.topnav a:not(:first-child), .dropdown .dropbtn {
display: none;
}
.topnav a.icon {
float: right;
position:absolute;
right:10px;
display: block;
}
}

@media screen and (max-width: 600px) {
.topnav.responsive {position: relative;}
.topnav.responsive .icon {
float: right;
position:absolute;
right:10px;
top:10px;
display: block;
}
.topnav.responsive a {
float: none;
display: block;
text-align: left;
}
.topnav.responsive .dropdown {float: none;}
.topnav.responsive .dropdown-content {position: relative;}
.topnav.responsive .dropdown .dropbtn {
display: block;
width: 100%;
text-align: left;
}
}










/*CONTAINER*/
.container{
width:100%;
height:60vh;
background: url("https://skyrokhsalon.com/wp-content/uploads/2019/12/int-damage-1400x500.jpg");
background-position:center;
background-repeat:no-repeat;
background-size:cover;
}

.container td section{
position:absolute;
top:12vh;
left:3vw;
color:#fff;
}


.container table td:nth-child(2){
height:90vh;

}

.container img{
width:100%;
height:auto;
}













/*SECTION1*/
.section1{
width:70%;
margin:10vh auto;
}

.section1 .title{
font-size:2.5em;
position:relative;
top:-20px;
}

.section1 td{
padding:0px 30px;
}













/*SECTION2*/
.section2{
width:100%;
position:relative;
top:-5vh;
}

.section2 .cards{
width:95%;
margin:auto;
}

.section2 .card{
display:inline-block;
margin:10px;
padding:20px;
border-radius:5px;
text-align:center;
width:28%;
background:#F7F7F7;
transition:0.5s;
vertical-align:top;
}


.section2 .card:hover{
background:#fff;
box-shadow:0px 6px 16px -6px rgba(1,1,1,0.2);
}

.section2 .card .sub-title{
font-size:1em;
}

.section2 .card img{
width:100%;
height:200px;
margin:auto;
}




/*SECTION6*/
.section6{
width:100%;
margin:10vh auto;
}

.section6 table{
width:90%;
margin:auto;
}

.section6 .title{
font-size:1.8em;
}

.section6 .sub-title{
font-size:1em;
}

.section6 p{
line-height:1.7em;
}













/*FOOTER*/
.footer{
background:#000;
padding:30px 0px;
font-family: 'Play', sans-serif;
text-align:center;
}

.footer .row{
width:100%;
margin:1% 0%;
padding:0.6% 0%;
color:gray;
font-size:0.8em;
}

.footer .row a{
text-decoration:none;
color:gray;
transition:0.5s;
}

.footer .row a:hover{
color:#fff;
}

.footer .row ul{
width:100%;
}

.footer .row ul li{
display:inline-block;
margin:0px 30px;
}

.footer .row a i{
font-size:2em;
margin:0% 1%;
}

@media (max-width:720px){
.footer{
text-align:left;
padding:5%;
}
.footer .row ul li{
display:block;
margin:10px 0px;
text-align:left;
}
.footer .row a i{
margin:0% 3%;
}
}









@media (max-width:980px){
.title{
font-size:1.5em;
}
.sub-title{
font-size:0.8em;
}
table td{
display:block;
width:100%;
}
.container{
height:70vh;
}
.section1{
width:90%;
}
.section1 td{
padding:0px 10px;
}

.section2 .card{
display:inline-block;
margin:10px;
padding:10px;
border-radius:5px;
text-align:center;
width:90%;
background:#F7F7F7;
transition:0.5s;
vertical-align:top;
}

.section2 .card:nth-child(1),.section2 .card:nth-child(2),.section2 .card:nth-child(3){
height:auto;
}

.section2 .card:nth-child(4),.section2 .card:nth-child(5),.section2 .card:nth-child(6){
height:auto;
}

.section2 .card:nth-child(7),.section2 .card:nth-child(8),.section2 .card:nth-child(9){
height:auto;
}

.section2 .card:hover{
background:#fff;
box-shadow:0px 6px 16px -6px rgba(1,1,1,0.2);
}
}